@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
  --green1: #00BB31;
  --green2: #009A17;
  --green3: #257226;
  --red: #CC1517;
  --orange: #EE7F00;
  --yellow: #E7B821;
  --pink: #c7259c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
